@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --font-family:'Manrope';
}

* {
    color: #393c41;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    width: 100%;
    font-family: var(--font-family);
    overflow-x:hidden;
}

@keyframes animateDown {
    0%,20% ,50% ,80% , 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(5px);
    }

    60% {
        transform: translateY(3px);
    }
}
